# ignore executable files without Makefile
*
!*.*
!Makefile
# no *.o or *.a files
*.[oa]
# no temporary files
*~
*swp
# ignore all files in the bin/
# no *.txt files
*.txt
# but track input.txt
!input.txt

